@charset "UTF-8";
* {
  /* Eliminamos espacios y márgenes*/
  margin: 0;
  padding: 0;
  /* Declaramos una tipografía para TODO */
  font-family: "Tauri", sans-serif;
}

.encabezado {
  background-image: url("../assets/abstract-light-background.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}
.encabezado img {
  width: 200px;
}

.menu-list li a {
  color: #ffffff;
  text-decoration: none;
}

.letra {
  font-family: "Danfo", serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.letra-produ {
  font-family: "Jaro", sans-serif;
  font-weight: 100;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  color: #000000;
}

.card p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  line-height: 1.5;
}

.card {
  background-color: #a3a1a1;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.4) ;
  transform: translate(-3%);
}

.card button {
  display: inline-block;
  padding: 3px;
  margin-top: 10px;
  background-color: #00ff00;
  color: #ffffff;
  border-radius: 4px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  transition: all 400ms ease;
}
.card button:hover{
  background: #ffffff;
  color:#000000
}
.cont-img {
  width: 300px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-right: 15px;
}
.wrapper{
  margin: 70px auto;
  width: 70%;
}
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
  color: #ffffff;
  font-size: 20px;
  font-family:"Tauri", sans-serif;
}

.cont-img img {
  width: 100%;
}

.Contenedor-flex {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.menu-list2 li a {
  color: #ffffff;
  text-decoration: none;
}

.tamano-de-imagen img {
  width: 30px;
}

/*footer*/

footer{
  background-color: #111;
}
.footerContainer{
  width: 100%;
  padding: 20px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerBottom{
  background-color: #000;
  padding: 15px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }