.encabezado{

    background-image: url('../assets/abstract-light-background.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    }
    .encabezado img{
    width: 200px;
    }
    
    .menu-list li a{
        color: #ffffff;
        text-decoration: none;
    }
  